* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding:30px;
    background-color: cadetblue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.container {
    
   

}