/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 5px;
    border: 0px;
    padding: 10px;
}

input:first-child {
    margin-right: 20px;
}

input:last-child {
    margin-left: 20px;
}

#result {
    margin: 50px 0px;
    font-size: 2rem;
    /*font-weight: 700;
    letter-spacing: 0.05rem;
    word-spacing: 0.4rem; */
}

.counting-result {
    display: flex;
    margin-top: 50px;
}

.start-over {
    font-weight: 800;
    padding: 20px;
    margin-top: 50px;
    cursor: pointer;
    background-color: none;
}

.start-over:hover {
    background-color: 'black';
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cloud {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.seaWeed {
    background: #667db6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cherry {
    background: #e52d27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mangoPulp {
    background: #F09819;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EDDE5D, #F09819);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EDDE5D, #F09819);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}